@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");

$fatfont: "Roboto", sans-serif;
$slimfont: "Raleway", sans-serif;
$logofont: "Pacifico", cursive;

.fatfont {
  font-family: $fatfont;
}
.slimfont {
  font-family: $slimfont;
}
.logofont {
  font-family: $logofont;
}
