@import "./custom";
$theme-colors: (
  "blue": blue,
  "indigo": indigo,
  "purple": purple,
  "pink": pink,
  "red": red,
  "orange": orange,
  "yellow": yellow,
  "green": green,
  "teal": teal,
  "cyan": cyan,
  "white": white,
  "dark": rgb(34, 34, 34),
);

@import "node_modules/bootstrap/scss/bootstrap";

body {
  overflow-x: hidden;
  background-color: rgb(34, 34, 34);
  .cointainer {
    padding: 10px;
    padding-top: 30px;
  }
  nav {
    .navbar-toggler {
      outline: none;
      border: none;
    }
  }
  .title {
    transition-duration: 500ms;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.253);
    &:hover {
      color: white;
      background-color: rgb(1, 116, 211);
      cursor: default;
    }
  }
  .shadow {
    box-shadow: 5px 5px 10px red;
  }
  footer {
    flex-shrink: none;
  }
}

@media (max-width: 543px) {
}
@media (min-width: 767px) {
}
