@import "./custom";

$theme-colors: (
  "blue": blue,
  "indigo": indigo,
  "purple": purple,
  "pink": pink,
  "red": red,
  "orange": orange,
  "yellow": yellow,
  "green": green,
  "teal": teal,
  "cyan": cyan,
  "white": white,
);

@import "node_modules/bootstrap/scss/bootstrap";

body {
  overflow-x: hidden;
  background-color: white;
  .cointainer {
    padding: 10px;
    padding-top: 30px;
  }
  nav {
    .navbar-toggler {
      outline: none;
      border: none;
    }
  }
  footer {
    flex-shrink: none;
  }
}

@media (max-width: 543px) {
  body {
  }
}

@media (min-width: 767px) {
}
