body {
    padding-top: 80px;
    background-color: rgba(0,0,0,0.05);
}


@media (max-width: 543px) {
    body {
    }
}

@media (min-width: 767px) { 
    .center-block {
        max-width: 500px;
        margin: auto;
    }
 }
